.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

body {
  background: #f5f5f4;
  color: #232323;
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 1);
  pointer-events: none;
  z-index: 1; /* Ensure circles are below .circle-ring */
}

#color-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px; /* Fixed width to prevent resizing */
  padding: 10px;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: rgba(128, 128, 128, 1);
  display: flex; /* Initially displayed */
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #232323; /* Add border */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.slider-container {
  flex: 1;
  margin-right: 10px;
}

.slider-container.right {
  flex: 0;
}

#color-picker label {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  color: #fff;
}

#color-picker input[type="range"] {
  margin-left: 10px;
  flex: 1;
}

#color-picker p {
  margin-top: 10px;
  color: #fff;
}

/* Apply Bebas Neue font to all text inside #color-picker */
#color-picker,
#color-picker * {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

/* Example: Apply specific styling to labels */
#color-picker label {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  color: #fff;
  font-weight: 400; /* Optionally adjust font weight */
}

/* Example: Apply specific styling to paragraphs */
#color-picker p {
  margin-top: 10px;
  color: #fff;
  font-weight: 400; /* Optionally adjust font weight */
}

.circle-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 2; /* Ensure .circle-ring is above circles */
}
